@page
@model Dynamic1Model

<div>
    <label>First</label>
    <input id=FirstName />
</div>
<div>
    <label>Last</label>
    <input id=LastName />
</div>
<div>
    <input id=save-person type=button value=Submit>
</div>
<hr>
<div id=output>Output goes here</div>

<form id=post-people-form asp-page="People" method=post></form>

<script>

    // POST AJAX by pulling token from empty form
    jQuery(function() {
        jQuery("#save-person").click(function() {
            jQuery("#output").html("working...");
            var data = {
                FirstName: jQuery("#FirstName").val(),
                LastName: jQuery("#LastName").val()
            };
            // Retrieve the CSRF token from the form
            jQuery("#post-people-form :input").each(function() {
                data[jQuery(this).attr("name")] = jQuery(this).val();
            });
            jQuery.ajax({
                type: "post",
                url: "People",
                data: data,
                dataType: "html"
            }).done(function(result) {
                jQuery("#output").html(result);
            });
        });
    });


    // GET AJAX call on page load
    jQuery(function() {
        jQuery("#output").html("working...");
        jQuery.ajax({
            type: "get",
            url: "People",
            dataType: "html"
        }).done(function(result) {
            jQuery("#output").html(result);
        });
    });

</script>
